<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qb.toolbox">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="no.nordicsemi.android.LOG" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FeaturesActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.TranslucentStatusBar"></activity>
        <activity android:name=".SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Template plugin activities -->
        <!-- Remember to add your plug-in Activities to the Android Manifest file. -->
        <activity
            android:name=".demo01.Demo01Activity"
            android:icon="@drawable/ic_demo01_feature"
            android:label="@string/demo01_feature_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.qb.toolbox.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".camera01_01.Camera01_01Activity"
            android:icon="@drawable/ic_cfg_feature"
            android:label="@string/cfg_feature_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.qb.toolbox.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>